.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
    display: flex;
    align-items: center;
}

.right-side {
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}