/* src/components/OutfitItem.css */
.outfit-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.outfit-item img {
    max-width: 100%;
}

.item-details h4 {
    margin: 10px 0;
}

.item-details p {
    margin: 10px 0;
}

.item-details button {
    padding: 5px 10px;
    background-color: #ff3f6c;
    color: #fff;
    border: none;
    cursor: pointer;
}
