/* src/components/OutfitDetails.css */
.outfit-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outfit-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width to fit better within the container */
}

.items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  gap: 20px; /* Add gap between item cards */
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.item-image {
  max-width: 100%;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.item-details {
  flex: 1;
}

.price {
  font-size: 1.2em;
}

.discounted-price {
  color: red;
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.discount {
  color: green;
}

.rating, .coupon-code {
  margin-top: 10px;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Add gap between buttons */
}

.add-to-bag, .wishlist {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* Make buttons take equal space */
}

.wishlist {
  background-color: #333;
}

